body{
    background-color: rgb(0, 0, 0);
    color: rgb(0, 255, 213);
}
h1{
    font-family: Arial, sans-serif;
    font-size: 36px;
    text-align: center;
}
p{
    font-family: Georgia, serif;
    font-size: 18px;
    padding: 10px;
    margin: 20px;
}
.box{
    background-color: rgb(0, 0, 0);
    width: 200px;
    height: 100;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    margin: 5px;
}
.box2{
    background-color: rgb(0, 0, 0);
    width: 300px;
    height: 150;
    padding: 20px;
    border: 5px solid rgb(255, 255, 255);
    margin: 50px;
}
.box3{
    background-color: rgb(0, 0, 0);
    width: 400px;/*Tamaño de la caja para escribir*/
    height: 200;/*ni idea*/
    padding: 30px;/*el tamaño de la caja*/
    border: 10px solid rgb(255, 255, 255);/*el tamaño del bode*/
    margin: 100px;/*distancias con las otras cosas*/
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }
  
  .column {
    flex: 1;
    padding: 10px;
  }
  @media (max-width: 600px) {
    .column {
      flex: 100%;
    }
  }

  
  .container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: rgb(43, 43, 43);
  }
  
  
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  
  .brand {
    display: flex;
    align-items: center;
  }
  
  
  li>a {
    padding: 8px 24px;
  }
  
  
  li {
    list-style-type: none;
  }
  
  
  a {
    color: rgb(0, 255, 255);
    text-decoration:none;
  }
  
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  
  .button-menu-toggle {
    display: none;
  }


  @media (max-width: 768px) {
    .column {
      flex: 100%;
    }
  
  
    .nav-links {
      display: none;
    }
  
  
    .button-menu-toggle {
      display: block;
      background-color: white;
      border:none;
      border-radius: 50px;
      padding: 0 24px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
    }
   
    .nav-links.nav-links-responsive {
      position: absolute;
      display: block;
      background-color: rgba(20,20,20,0.95);
      width: 100%;
      height: 100%;
      top: 70px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap:70px;
      font-size: 40px;
  
  
    }

  }
  .fotos{
    display: flex;
    align-items: center;
  }
  .messi{
    left: 100;
    top: 100;
    width: 300px;
    height: 170px;
  }

  .hola{
    text-align: center;
  }
  .chau{
    text-align: center;
  }